.centerBottomLocation {
    position: absolute;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.centerBottomLocationImage {
    width: 25px;
    height: 25px;
    border-radius: 3%;
    display: block;
}
.centerBottomLocationText {
    font-size: 22px;
    font-weight: 500;
    font-family: fantasy, sans-serif;
    font-style: oblique;
    font-style: italic;
    text-align: center;
    margin: auto;
    margin-top: 2px;
}
.returnArrowBottomDIV {
    width: 100px;
    height: 100px;
    z-index: 5;
    cursor: pointer;
}
.returnArrowBottomDIV img {
    width: 100%;
    height: 100%;
    transform: rotate(-35deg);
    transition: transform 0.5s;
}
.returnArrowBottomDIV:hover img {
    transform: rotate(-40deg);
    transition: transform 0.5s;
}

.centerBottomLocation img {
    height: 80%;
    width: 80%;
}


#centerB, #centerG {
    position: relative;
}
#sala28 {
    right: 80px;
    top: 210px;
}
#sala28:hover img {
    transform: scale(105%);
}

#mietek {
    bottom: 90px;
    left: 30px;
    transform: rotate(-35deg);
}
#mietek:hover img {
    transform: scale(105%);
    filter: contrast(30%);
}
.themeBottomDiv {
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
}
#mietekScene {
    position: absolute;
    z-index: 1;
    bottom: -6%;
    right: 50%;
}
.bubble {
    background: white;
    padding: 32px;
    border-radius: 35px;
    position: absolute;
    z-index: 1;
}
.bubble::after {
    border: 20px solid transparent;
    border-left-color: white;
    content: ' ';
    height: 35px;
    width: 30px;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: rotate(45deg);
    border-radius: 8px;

}
#mietekBubble {
    
    bottom: 60%;
    right: 30%;
}